:root {
    --primary: #005190;
    --background: #fafafb;
    --green: rgb(0, 128, 0);
    --red: #f52509;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-weight: 600;
    font-size: 2rem;
}

h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.flex-container {
    min-height: 100vh;
    display: flex;
    align-items: center;

    flex-direction: column;
    text-align: center;
}

.heading-section {

    max-width: 800px;
    color: var(--primary);

}



#calculator {

    margin: 1.5rem auto;
    width: 90%;
    max-width: 700px;
    padding: 0.75rem 1rem;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: var(--background);
    box-sizing: border-box;


}

#calculator .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 1px solid var(--primary);
    margin: 10px;
    padding-bottom: 20px;
}

#calculator .row:last-of-type {
    border-bottom: none;
    padding-bottom: 10px;
}


#calculator .row .check_label {
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculator .row .check_label label {
    font-size: 1rem;
}


#calculator .row .check_label input {
    margin-right: 10px;

    width: 25px;
    height: 25px;

}

#calculator .row input[type="number"] {
    padding: 10px;
    width: 90px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    text-align: center;
}

.button_section button {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    color: #fff;
    background-color: none;

}

.button_section button:hover {
    cursor: pointer;

}

#reset {
    background-color: var(--red);
}

#calculate {
    background-color: var(--green);
}

/* media queries */


@media (max-width: 600px) {

    .heading-section {
        padding: 0.25rem;
    }
}

@media (max-width: 500px) {


    #calcuator {

        padding: 10px;
        margin-bottom: 1rem;
    }

    #calculator .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    #calculator .row .check_label {
        width: 100%;

        justify-content: flex-start;
        margin-bottom: 1rem;

    }

    #calculator .row .check_label label {
        width: 190px;
        text-align: left;
    }


    #calculator .row input[type="number"] {
        padding: 10px;
        width: 90px;
    }

    .button_section button {
        padding: 5px 10px;
        margin: 0.5rem;
        border-radius: 5px;
        width: 100px;
    }
}