:root {
    --primary-color: #005190;
    --background-color: #f3f6fb;
}


html {

    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

/* navbar section */

.nav {
    /* border: 1px solid black; */
    padding: 16px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav .nav-links a,
.mobile-nav a {
    padding: 0 1rem 0.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav .nav-links a:hover,
.mobile-nav .nav-links a:hover {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--primary-color);
}


/* mobile nav */
.mobile-nav {
    width: 70%;
    display: none;
    margin: 0 auto;

}

.mobile-nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mobile-nav .nav-links a {
    display: inline-block;
    margin: 0.5rem auto;
    padding: 0.5rem;

}

/* hamburger section */

.nav .hamburger {
    height: 50px;
    width: 50px;
    display: none;
    margin-top: 16px;
}

.nav .hamburger:hover {
    cursor: pointer;
}

.nav .hamburger .bar {
    background-color: var(--primary-color);
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

/* main section */

.main {
    padding: 0.5rem;
}

.main .main-header {
    text-align: center;
}

.main .main-header h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* topic styling */

.topic-section {
    margin: 1rem 0;
}

.topic-section .topic-section-header {
    width: 100%;
}

.topic-section .topic-header {
    display: inline-block;
    padding: 0 0 0.5em;
    border-bottom: 2px solid var(--primary-color);
    font-size: 1.2rem;
}

.topic-section .go-up {
    color: #ffffff;
    font-size: 0.75rem;
    margin: 0 0 0 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: inline-block;
}

.topic-section .go-up:hover {
    opacity: 0.9;
}

/* cards styling */
.topic-section .cards-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */


}

.cards-container .card-link {
    color: var(--primary-color);
    transition: transform 0.2s linear;
    display: flex;


}

.cards-container .card-link:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.cards-container .card {
    margin: 1rem;
    width: 280px;
    min-height: 300px;
    padding: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px #888888;


    background-color: #f3f6fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



.cards-container .card .card-header {
    margin: 0.5rem 0 0;

}

.cards-container .card .card-image {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.cards-container .card .flexible {
    flex-grow: 1;
}

.cards-container .card #c1v1_image {
    transform: translateX(-20px);

}

/* .cards-container .card #mod_c1_image {
    transform: translate(-10px);
} */

/* card icons */
.cards-container .card .card-icon {
    font-size: 4rem;
}

/* media queries */

@media only screen and (max-width: 600px) {
    .main {
        padding: 0.5rem 0.1rem;
    }


    /* navbar and hamburger */
    .nav .nav-links {
        display: none;
    }

    .nav .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }





    .topic-section .cards-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topic-section .topic-header {
        margin-left: 10px;
    }

    .cards-container .card {
        margin: 0.75rem 0;
        width: 100%;
        max-width: 260px;
    }


}

/* keyframe ainimations */

.animateBar1 {
    animation: moveBar1 0.25s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.25s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: moveBar3 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes moveBar1 {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(45deg) translate(4px, 10px);

    }
}

@keyframes moveBar3 {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(-45deg) translate(4px, -10px);

    }
}