:root {
    --primary-color: #005190;
    --background-color: #f3f6fb;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

/* navbar section */

.nav {
    /* border: 1px solid black; */
    padding: 0 16px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    padding: 1em;
    font-weight: bold;
    color: var(--primary-color);
}

.nav a:hover {
    background-color: var(--background-color);
}

/* main section */

.main {
    padding: 0.5rem 3rem;
}

.main .main-header {
    text-align: center;
}

.main .main-header h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* topic styling */

.topic-section {
    margin: 1rem 0;
}

.topic-section .topic-section-header {
    width: 100%;
}

.topic-section .topic-header {
    display: inline-block;
    padding: 0 0 0.5em;
    border-bottom: 2px solid var(--primary-color);
    font-size: 1.2rem;
}

.topic-section .go-up {
    color: #ffffff;
    font-size: 0.75rem;
    margin: 0 0 0 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: inline-block;
}

.topic-section .go-up:hover {
    opacity: 0.9;
}

/* cards styling */
.topic-section .cards-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */


}

.cards-container .card-link {
    color: var(--primary-color);
    transition: transform 0.2s linear;
    display: flex;


}

.cards-container .card-link:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.cards-container .card {
    margin: 1.5rem;
    width: 280px;
    min-height: 300px;
    padding: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px #888888;


    background-color: #f3f6fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



.cards-container .card .card-header {
    margin: 0.5rem 0 0;

}

.cards-container .card .card-image {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.cards-container .card .flexible {
    flex-grow: 1;
}

.cards-container .card #c1v1_image {
    transform: translateX(-20px);

}

/* .cards-container .card #mod_c1_image {
    transform: translate(-10px);
} */

/* card icons */
.cards-container .card .card-icon {
    font-size: 4rem;
}